@import "../../styles/mixins"
/*==========  CategoryInfo  ==========*/
p, h4
	display: inline-flex
.category_info
	display: flex
	flex-direction: column
	justify-content: center
.image_info
	display: flex
	flex-direction: column
	justify-content: space-around
.image_compare
	display: flex
	justify-content: center
	margin: 10px 0
.row_item
	display: flex
	justify-content: space-between
	align-items: baseline
	h4, p
		white-space: nowrap
.headline
	+bold
.line
	display: inline-block
	width: 100%
	margin: 0 20px
	height: 2px
	background: $black
.img_box
	padding: 20px 0