@import "../../styles/mixins"
/*==========  CategoryInfo  ==========*/
p, h4
	display: inline-flex
.category_info
	display: flex
	flex-direction: column
	justify-content: center
	align-self: start
.column_title
	display: flex
	justify-content: space-between
.image_info
	display: flex
	flex-direction: column
	justify-content: space-around
.image_compare
	display: flex
	justify-content: center
	margin: 10px 0
.row_item
	display: flex
	justify-content: space-between
	align-items: baseline
	p, h4
		white-space: nowrap
		overflow-wrap: break-word
.headline
	+bold
.line
	display: inline-block
	width: 100%
	margin: 0 20px
	height: 2px
	background: $black
.img_box
	padding: 20px 0
/*==========  Media query  ==========*/
@media only screen and (max-width : 1400px)

@media only screen and (max-width : 1200px)

@media only screen and (max-width : 992px)
	.line
		width: auto //optional
	.row_item
		p, h4
			white-space: normal
			overflow-wrap: normal
		p
			max-width: 300px
@media only screen and (max-width : 768px)

@media only screen and (max-width : 480px)

@media only screen and (max-width : 320px)