@import "mixins"
/*==========  Fonts  ==========*/
@import "fonts"
/*==========  Libs  ==========*/
@import "libs"

//html
//	margin-right: calc(-1 * (100vw - 100%))
//	overflow-x: hidden
body
	margin: 0
	background-image: url("../../src/assets/images/main-bg.png")
	background-size: cover
	background-repeat: repeat-y
	background-color: $light-yellow
	color: $black
	+regular
.App, #root
	position: relative
	min-height: 100vh
	display: flex
	flex-direction: column
a
	color: $black
	cursor: pointer
	text-decoration: none
	outline-style: none
a:hover
	text-decoration: none
	outline-style: none
a:focus
	text-decoration: none
	outline-style: none
a:visited
	text-decoration: none
	outline-style: none
img
	display: inline-block
	max-width: 100%
	height: auto
input, textarea
	text-decoration: none
	outline-style: none
	font-size: 16px
button
	cursor: pointer
	background-color: transparent
	outline-style: none
	border: none
button:hover
	background-color: transparent
	outline-style: none
button:focus
	background-color: transparent
	outline-style: none
.text-center
	text-align: center !important
i
	vertical-align: middle
/*==========  General  ==========*/
h3
	+bold
	font-size: 31px
	margin: 0 0 34px
	color: $black
	position: relative
	&:after
		content: ""
		+border-rds
		position: absolute
		left: 0
		bottom: -18px
		width: 20vw
		height: 5px
		background-color: $black
h4
	+bold
	font-size: 27px
	color: $black
	margin: 34px 0
p
	color: $black
	+regular
	font-size: 24px
