@import "../../styles/mixins"
/*==========  Header  ==========*/
.header
	display: flex
	justify-content: center
	align-items: center
	min-height: $header-height
.main_menu
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap
.top_navigation
	display: flex
	height: 100%
	align-items: center
	flex-wrap: wrap
.menu_item
	display: inline-flex
	color: $black
	font-size: 18px !important
	+bold
	padding: 10px 25px
	select
		font-size: 18px
		background: transparent
		border: none
		line-height: 1
		cursor: pointer
		&:focus-visible
			outline: none
		option
			padding: 5px !important
			background-color: #fff
			cursor: pointer
	.icon
		height: 23px
/*==========  Media query  ==========*/
@media only screen and (max-width : 1400px)
	.menu_item
		padding: .5rem .75rem
@media only screen and (max-width : 1200px)
	.header
		min-height: auto
		align-items: initial
		justify-content: initial
	.main_menu
		width: 100%
	.top_navigation
		position: absolute
		z-index: 100
		background-color: $light-yellow
		top: -200%
		align-items: center
		flex-wrap: wrap
		height: auto
		width: 100%
		display: flex
		flex-direction: column
		border-top: 2px solid $border
		border-bottom: 2px solid $border
		+flow
		&_active
			position: absolute
			z-index: 200
			background-color: $light-yellow
			top: 100%
			align-items: center
			flex-wrap: wrap
			height: auto
			width: 100%
			display: flex
			flex-direction: column
			border-top: 2px solid $border
			border-bottom: 2px solid $border
			+flow
	.main_menu
		display: block
		position: relative
	.navigation_layer
		display: flex
		align-items: center
		justify-content: space-between
		position: relative
		z-index: 200
		background-color: $light-yellow
@media only screen and (max-width : 992px)

@media only screen and (max-width : 768px)

@media only screen and (max-width : 480px)

@media only screen and (max-width : 320px)