@import "../../styles/mixins"
/*==========  Header  ==========*/
.header
	display: flex
	justify-content: center
	align-items: center
	min-height: $header-height
.main_menu
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap
.top_navigation
	display: flex
	height: 100%
	align-items: center
	flex-wrap: wrap
.menu_item
	display: inline-flex
	color: $black
	font-size: 18px !important
	+bold
	padding: 10px 25px
	select
		font-size: 18px
		background: transparent
		border: none
		line-height: 1
		cursor: pointer
		&:focus-visible
			outline: none
		option
			padding: 5px !important
			background-color: #fff
			cursor: pointer
	.icon
		height: 23px