@import "../../styles/mixins"
/*==========  Carousel  ==========*/
.img_box
	display: flex
	justify-content: center
.carousel_arrows
	display: flex
	justify-content: center
	align-items: center
	color: $dark-grey
	font-size: 40px
	padding: 10px
	border: 3px solid $dark-grey
	border-radius: 50%
.carousel_arrow_next
	margin-left: 5px
.carousel_arrow_prev
	margin-right: 5px
/*==========  Media query  ==========*/
@media only screen and (max-width : 1400px)

@media only screen and (max-width : 1200px)
	.carousel
		margin: 20px 0
	.carousel_arrows
		font-size: 30px
		padding: 0
		border: none
@media only screen and (max-width : 992px)

@media only screen and (max-width : 768px)

@media only screen and (max-width : 480px)

@media only screen and (max-width : 320px)